#gameTitle {
	background-color: black;
	color: red;
}

#gameTitle h1 {
	background-color: black;
	color: red;
}

#gameTitle h4 {
	background-color: black;
	color: red;
	font-family: 'Covered By Your Grace', cursive;
}


#charList h1{
	font-family: 'Merienda', cursive;
	font-size: 28px;
	border-bottom: 2px solid blue;
	color: black;
}

#charList h3{
	font-family: 'Merienda', cursive;
	font-size: 20px;
	color: black;
}


#battleStage{
	padding-bottom: 20px;
	border: 3px solid black;
	color: red;
	background-image: url("../images/background.jpg");
	background-size: 100% 100%;
	height: 500px;
}


#charList{
	height: 25%;
	text-align: center;
	color: white;
}

#charList p{
	text-align: center;
	clear: both;
	color: black;
}


#row1{
	text-align: center;
}

#row2{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 20px;
}

#attack{
	position: relative;
	top: 250px;
	left: 120px;
	border: 1px solid black;
	color: blue;
	padding: 10px 20px;
}

img {
	height: 250px;
	width: 250px;
	padding: 15px;
	float: left;
}

h3 {
	text-align: left;
	color: blue;
}

@media screen and (min-width: 768px)
.jumbotron .h1, .jumbotron h1 {
    font-size: 28px;
}

@media (min-width: 1200px)
.container {
    width: 100%;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
#container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px)
.jumbotron .h1, .jumbotron h1 {
    font-size: 44px;
}
/*.jumbotron .h1, .jumbotron h1 {
    color: inherit;
}*/

